In [160]:
import pandas as pd
import os
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors


raw_apriori_category_df =pd.read_csv('apriori_category.csv')
raw_apriori_item_df =pd.read_csv('apriori_item.csv')
raw_bestselling_brand_recommendation_df =pd.read_csv('bestselling_brand_recommendation.csv')
raw_bestselling_item_recommendation_df =pd.read_csv('bestselling_item_recommendation.csv')
raw_ratings_brand_recommendation_df =pd.read_csv('ratings_brand_recommendation.csv')
raw_ratings_item_recommendation_df =pd.read_csv('ratings_item_recommendation.csv')

"""Deleting the index column"""
raw_apriori_category_df.drop('Unnamed: 0', axis=1, inplace=True)
raw_apriori_item_df.drop('Unnamed: 0', axis=1, inplace=True)

raw_bestselling_brand_recommendation_df.drop('Unnamed: 0', axis=1, inplace=True)
raw_bestselling_item_recommendation_df.drop('Unnamed: 0', axis=1, inplace=True)

raw_ratings_brand_recommendation_df.drop('Unnamed: 0', axis=1, inplace=True)
raw_ratings_item_recommendation_df.drop('Unnamed: 0', axis=1, inplace=True)

In [179]:
import pickle

# Collaborative Based

In [178]:
item_category = pd.read_csv("../item_category.csv")
def get_item_category(item_id):
    return item_category[item_category.item_id == f"{item_id}"].values[0][1]

# """let us form DataFrame of Users and the items they have purchased"""
# consolidated_db2 = pd.read_csv("../consolidated_db2.csv")
# rough = consolidated_db2["user_id"].value_counts().sort_values()
# user_purchases = pd.DataFrame({"user_id": rough.index, "items_bought": rough.values})


# """Let us form DataFrame of users who have bought more than 1 item"""
# collab_df = consolidated_db2.copy()
# collab_df = pd.merge(collab_df, user_purchases, on="user_id")
# collab_df = collab_df[collab_df.items_bought > 1]


# """We will consider only relevant columns required for Collaborative Filtering in our DataFrame"""
# collab_df = collab_df[["item_id", "user_id", "rating", "category"]]
# collab_df.to_csv("collab_df.csv", index=False)

"""create pivot table"""
collab_df = pd.read_csv("collab_df.csv")
collab_df_pivot = collab_df.pivot(
    index="item_id", columns="user_id", values="rating"
).fillna(0)

"""create sparse matrix to pass to KNN model for training"""
features_df_matrix = csr_matrix(collab_df_pivot.values)

"""creating list of modcloth item_ids"""
item_list = collab_df_pivot.index.tolist()

"""creating KNN model"""
model_knn = NearestNeighbors(metric="cosine", algorithm="brute")

"""fitting the model"""
model_knn.fit(features_df_matrix)


"""Let us build a function which gives 5 nearest neighbours of item"""


def recommender_whole(item_id):
    query_index = np.random.choice(collab_df_pivot.shape[0])
    distances, indices = model_knn.kneighbors(
        collab_df_pivot[collab_df_pivot.index == item_id].values.reshape(1, -1),
        n_neighbors=6,
    )
    nearest_items = [collab_df_pivot.index[i] for i in indices.flatten()[1:]]
    nearest_items_category = [
        item_category[item_category.item_id == item]["category"].values[0]
        for item in nearest_items
    ]
    recommended_items_df = pd.DataFrame(
        {"Recommended_Item": nearest_items, "Category": nearest_items_category}
    )
    return [f"item: {nearest_items[i]} from category: {nearest_items_category[i]}" for i in range(len(nearest_items))]

C:\Users\shoun\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Items based on Ratings

In [161]:
raw_ratings_item_recommendation_df

,Recommendation_System_Type,Category,Product,Brand,Rating,Sales
0,Overall Rating,Portable Audio & Video,1647,Other,4.99,NaN
1,Overall Rating,Portable Audio & Video,3214,Other,4.84,NaN
2,Overall Rating,Portable Audio & Video,2667,Other,4.78,NaN
3,Overall Rating,Portable Audio & Video,5802,Other,4.71,NaN
4,Overall Rating,Portable Audio & Video,7715,Other,4.69,NaN
...,...,...,...,...,...,...
135,Latest Trend Rating,Tops,67022,Out of Print,4.81,NaN
136,Latest Trend Rating,Tops,122266,Kin Ship,4.78,NaN
137,Latest Trend Rating,Tops,63583,Other,4.73,NaN
138,Latest Trend Rating,Tops,137370,Other,4.73,NaN
139,Latest Trend Rating,Tops,143764,Daisey Natives,4.71,NaN

In [170]:
# for sample category
# for overall rating

cat = "Portable Audio & Video"
system_type = "Overall Rating"

temp_df = raw_ratings_item_recommendation_df[(raw_ratings_item_recommendation_df.Category == cat) & (raw_ratings_item_recommendation_df.Recommendation_System_Type == system_type)]

In [171]:
def rcmnd_item_rating(system_type, category):
    temp_df = raw_ratings_item_recommendation_df[(raw_ratings_item_recommendation_df.Category == category) & (raw_ratings_item_recommendation_df.Recommendation_System_Type == system_type)]
    products = temp_df.Product.tolist()
    brands = temp_df.Brand.tolist()
    ratings = temp_df.Rating.tolist()
    similar_items = [recommender_whole(item) for item in products]
    return products, brands, ratings, similar_items

In [172]:
rcmnd_item_rating(system_type, cat)

([1647, 3214, 2667, 5802, 7715],
 ['Other', 'Other', 'Other', 'Other', 'Other'],
 [4.99, 4.84, 4.78, 4.71, 4.69],
 [['item: 3555 from category: Computers & Accessories',
   'item: 6197 from category: Computers & Accessories',
   'item: 3951 from category: Computers & Accessories',
   'item: 1309 from category: Computers & Accessories',
   'item: 4562 from category: Headphones'],
  ['item: 5115 from category: Accessories & Supplies',
   'item: 2945 from category: Portable Audio & Video',
   'item: 4041 from category: Headphones',
   'item: 3114 from category: Accessories & Supplies',
   'item: 1539 from category: Headphones'],
  ['item: 1007 from category: Camera & Photo',
   'item: 2211 from category: Computers & Accessories',
   'item: 3878 from category: Portable Audio & Video',
   'item: 4013 from category: Headphones',
   'item: 5351 from category: Headphones'],
  ['item: 4661 from category: Computers & Accessories',
   'item: 6240 from category: Computers & Accessories',
   'item: 4058 from category: Computers & Accessories',
   'item: 5941 from category: Headphones',
   'item: 2665 from category: Computers & Accessories'],
  ['item: 7881 from category: Computers & Accessories',
   'item: 6283 from category: Portable Audio & Video',
   'item: 3661 from category: Accessories & Supplies',
   'item: 3131 from category: Portable Audio & Video',
   'item: 8196 from category: Headphones']])

In [7]:
rcmnd_item_rating(system_type="Latest Trend Rating", category=cat)

([1064, 816, 790, 570, 1149],
 ['Other', 'Uniden', 'Other', 'Archos', 'Sony'],
 [5.0, 5.0, 5.0, 5.0, 5.0])

# Brands based on Ratings

In [8]:
raw_ratings_brand_recommendation_df

,Recommendation_System_Type,Category,Brand,Brand_Rating,Top_Products,Sales
0,Overall_Brandwise_Recommendation,Portable Audio & Video,Mpow,4.48,"['5974 - 4.49', '5748 - 4.47']",NaN
1,Overall_Brandwise_Recommendation,Portable Audio & Video,Bose,4.43,"['5171 - 4.51', '5273 - 4.48', '5156 - 4.47', ...",NaN
2,Overall_Brandwise_Recommendation,Portable Audio & Video,Apple,4.35,['1139 - 4.35'],NaN
3,Overall_Brandwise_Recommendation,Portable Audio & Video,DBPOWER,4.16,"['4009 - 4.2', '2864 - 4.0', '4079 - 3.46']",NaN
4,Overall_Brandwise_Recommendation,Portable Audio & Video,Logitech,4.07,['1948 - 4.07'],NaN
...,...,...,...,...,...,...
115,Latest_Brandwise_Recommendation,Tops,Kin Ship,4.76,"['122266 - 4.78', '70230 - 4.67']",NaN
116,Latest_Brandwise_Recommendation,Tops,Daisey Natives,4.71,['143764 - 4.71'],NaN
117,Latest_Brandwise_Recommendation,Tops,Out of Print,4.58,"['67022 - 4.81', '113643 - 4.0']",NaN
118,Latest_Brandwise_Recommendation,Tops,ModCloth,4.30,"['40899 - 4.63', '59176 - 4.57', '153726 - 4.5...",NaN
119,Latest_Brandwise_Recommendation,Tops,Banned,4.02,['146244 - 4.02'],NaN

In [9]:
def rcmnd_brand_rating(system_type, category):
    temp_df = raw_ratings_brand_recommendation_df[(raw_ratings_brand_recommendation_df.Category == category) & (raw_ratings_brand_recommendation_df.Recommendation_System_Type == system_type)]
    brands = temp_df.Brand.tolist()
    ratings = temp_df.Brand_Rating.tolist()
    products = temp_df.Top_Products.tolist()
    return brands, ratings, products

In [10]:
rcmnd_brand_rating("Overall_Brandwise_Recommendation","Portable Audio & Video")

(['Mpow', 'Bose', 'Apple', 'DBPOWER', 'Logitech'],
 [4.48, 4.43, 4.35, 4.16, 4.07],
 ["['5974 - 4.49', '5748 - 4.47']",
  "['5171 - 4.51', '5273 - 4.48', '5156 - 4.47', '7022 - 4.41', '3195 - 4.37']",
  "['1139 - 4.35']",
  "['4009 - 4.2', '2864 - 4.0', '4079 - 3.46']",
  "['1948 - 4.07']"])

# Bestselling Items

In [151]:
raw_bestselling_item_recommendation_df.tail(2)

          Recommendation_Type Category  Item_ID     Brand  Sold_Units
138  Latest_Bestselling_Items     Tops    40899  ModCloth         957
139  Latest_Bestselling_Items     Tops    59176  ModCloth         933

In [173]:
def rcmnd_item_bestseller(system_type, category):
    temp_df = raw_bestselling_item_recommendation_df[
        (raw_bestselling_item_recommendation_df.Category == category)
        & (raw_bestselling_item_recommendation_df.Recommendation_Type == system_type)
    ]
    products = temp_df.Item_ID.tolist()
    brands = temp_df.Brand.tolist()
    quantity = temp_df.Sold_Units.tolist()
    similar_items = [recommender_whole(item) for item in products]
    return products, brands, quantity, similar_items

In [175]:
rcmnd_item_bestseller("Overall_Bestselling_Items", "Portable Audio & Video")

([7780, 5063, 5940, 4009, 7022],
 ['Other', 'Other', 'Other', 'DBPOWER', 'Bose'],
 [28530, 3875, 3437, 3340, 3183],
 [['item: 8711 from category: Portable Audio & Video',
   'item: 8076 from category: Portable Audio & Video',
   'item: 8193 from category: Portable Audio & Video',
   'item: 6378 from category: Accessories & Supplies',
   'item: 3442 from category: Accessories & Supplies'],
  ['item: 5071 from category: Headphones',
   'item: 6049 from category: Portable Audio & Video',
   'item: 7780 from category: Portable Audio & Video',
   'item: 8156 from category: Headphones',
   'item: 8693 from category: Headphones'],
  ['item: 5748 from category: Portable Audio & Video',
   'item: 4547 from category: Car Electronics & GPS',
   'item: 5876 from category: Computers & Accessories',
   'item: 5894 from category: Headphones',
   'item: 455 from category: Camera & Photo'],
  ['item: 5835 from category: Headphones',
   'item: 4633 from category: Television & Video',
   'item: 2864 from category: Portable Audio & Video',
   'item: 1984 from category: Television & Video',
   'item: 8074 from category: Television & Video'],
  ['item: 7465 from category: Headphones',
   'item: 7645 from category: Headphones',
   'item: 7444 from category: Headphones',
   'item: 6662 from category: Home Audio',
   'item: 7227 from category: Portable Audio & Video']])

# Bestselling Brands

In [150]:
raw_bestselling_brand_recommendation_df.tail(2)

,Recommendation_System_Type,Category,Brand,Brand_Sales,Top_Products
118,Latest_Bestselling_Brand,Tops,Banned,48,[146244]
119,Latest_Bestselling_Brand,Tops,Daisey Natives,38,[143764]

In [47]:
def rcmnd_brand_bestseller(system_type, category):
    temp_df = raw_bestselling_brand_recommendation_df[
        (raw_bestselling_brand_recommendation_df.Category == category)
        & (raw_bestselling_brand_recommendation_df.Recommendation_System_Type == system_type)
    ]
    
    brands = temp_df.Brand.tolist()
    quantity = temp_df.Brand_Sales.tolist()
    products = temp_df.Top_Products.tolist()
    return brands, quantity, products

In [16]:
rcmnd_brand_rating("Overall_Bestselling_Brand","Portable Audio & Video")

(['Bose', 'DBPOWER', 'Pyle', 'Uniden', 'Mpow'],
 [6826, 3812, 3083, 2802, 1807],
 ['[7022, 5171, 5273, 5156, 3195]',
  '[4009, 2864, 4079]',
  '[33, 3468, 4753, 5445, 3502]',
  '[2223, 2159, 2434, 4419, 1848]',
  '[5748, 5974]'])

# Apriori

## Items

In [23]:
raw_apriori_item_df.head(2)

,antecedents,consequents,support,confidence,lift,Category
0,1706,3035,0.023612,0.477876,15.612895,Portable Audio & Video
1,3035,1706,0.023612,0.771429,15.612895,Portable Audio & Video

In [68]:
raw_apriori_item_df_itemset = raw_apriori_item_df[["antecedents","consequents","Category"]]
raw_apriori_item_df_itemset["combo"] = raw_apriori_item_df_itemset.antecedents.astype("str") + "," + raw_apriori_item_df_itemset.consequents.astype("str")
combo_item = raw_apriori_item_df_itemset[["Category", "combo"]]

def item_combo_list(category):
    return combo_item[combo_item.Category == category]["combo"].tolist()

<ipython-input-68-ea9815a811f1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_apriori_item_df_itemset["combo"] = raw_apriori_item_df_itemset.antecedents.astype("str") + "," + raw_apriori_item_df_itemset.consequents.astype("str")

## Category

In [72]:
raw_apriori_category_df_categoryset = raw_apriori_category_df[["antecedents","consequents"]]
raw_apriori_category_df_categoryset["combo"] = raw_apriori_category_df_categoryset.antecedents.astype("str") + "," + raw_apriori_category_df_categoryset.consequents.astype("str")
combo_category = raw_apriori_category_df_categoryset[["combo"]]

# def cat_combo_list(category):
#     return combo_item[combo_item.Category == category]["combo"].tolist()

<ipython-input-72-e2be9cab0bda>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_apriori_category_df_categoryset["combo"] = raw_apriori_category_df_categoryset.antecedents.astype("str") + "," + raw_apriori_category_df_categoryset.consequents.astype("str")

In [143]:
combo_category_list = combo_category.combo.tolist()
combo_category_list = [i.split(",") for i in combo_category_list]

In [144]:
combo_category_list = [set(i) for i in combo_category_list]

In [145]:
combo_category_list = [list(i) for i in combo_category_list]

In [134]:
pd.DataFrame({"element":combo_category_list}).to_csv("category_combo.csv",index=False)

In [138]:
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

''

In [147]:
combo_category_list = pd.read_csv("category_combo.csv")
combo_category_list = combo_category_list.element.tolist()

In [148]:
def category_combo_list(category):
    combo_list = []
    for combination in combo_category_list:
        if category in combination:
            combo_list.append(combination)
    return combo_list

In [149]:
category_combo_list("Dresses")

['Dresses,  Bottoms,  Tops, Outerwear']

# Check

In [25]:
antecedents_item_list = raw_apriori_item_df.antecedents.tolist()
consequents_item_list = raw_apriori_item_df.consequents.tolist()

In [27]:
raw_apriori_category_df.head(2)

,antecedents,consequents,confidence,lift
0,"Headphones, Camera & Photo, Accessories & Supp...","Portable Audio & Video, Computers & Accessories",0.127848,1.601001
1,"Portable Audio & Video, Computers & Accessories","Headphones, Camera & Photo, Accessories & Supp...",0.017095,1.601001

In [29]:
raw_bestselling_brand_recommendation_df.head(2)

,Recommendation_System_Type,Category,Brand,Brand_Sales,Top_Products
0,Overall_Bestselling_Brand,Portable Audio & Video,Bose,6826,"[7022, 5171, 5273, 5156, 3195]"
1,Overall_Bestselling_Brand,Portable Audio & Video,DBPOWER,3812,"[4009, 2864, 4079]"

In [31]:
raw_ratings_brand_recommendation_df.head(2)

,Recommendation_System_Type,Category,Brand,Brand_Rating,Top_Products,Sales
0,Overall_Brandwise_Recommendation,Portable Audio & Video,Mpow,4.48,"['5974 - 4.49', '5748 - 4.47']",NaN
1,Overall_Brandwise_Recommendation,Portable Audio & Video,Bose,4.43,"['5171 - 4.51', '5273 - 4.48', '5156 - 4.47', ...",NaN

In [33]:
raw_apriori_item_df.head(2)
antecedents_item_list = raw_apriori_item_df.antecedents.tolist()

In [34]:
raw_bestselling_item_recommendation_df.head(2)
bestseller_items = raw_bestselling_item_recommendation_df.Item_ID.tolist()

In [35]:
raw_ratings_item_recommendation_df.head(2)
raw_ratings_item_recommendation_df = raw_bestselling_item_recommendation_df.Item_ID.tolist()

In [38]:
test_list = antecedents_item_list+bestseller_items+raw_ratings_item_recommendation_df

In [42]:
test_list = list(set(test_list))

In [43]:
len(test_list)

91

In [44]:
test_items = []
for i in test_list:
    if (i in antecedents_item_list) & (i in bestseller_items) & (i in raw_ratings_item_recommendation_df):
        test_items.append(i)

In [45]:
test_items

[57369,
 16411,
 3617,
 1575,
 27439,
 21296,
 6210,
 6726,
 2129,
 1105,
 8802,
 7780,
 80238,
 6005,
 34935,
 50818,
 3728,
 32405,
 32406,
 3995,
 2483,
 6328,
 11960,
 2486,
 5054,
 40899,
 54222,
 32236,
 62447]